.todolist-container {
  text-align: center;
  margin-top: 50px;
}

.todolist-container-title {
  color: orange;
}

.todolist-container-task-input {
  border-radius: 4px;
  background-color: rgba(224, 222, 222, 0.3);
  padding: 8px;
  box-shadow: 0 0 3px black;
  border: gray solid 0;
}

.todolist-container-input-button {
  background-color: cornflowerblue;
  color: white;
  padding: 8px 30px;
  margin-left: 10px;
  border-radius: 4px;
  font-weight: 600;
  font-size: smaller;
}

.todolist-container-input-button:hover {
  cursor: pointer;
}
.todolist-container-img {
  margin-top: 30px;
  height: 200px;
}

.todolist-container-content {
  margin-top: 40px;
}

.todolist-container-data {
  margin: auto;
  width: 400px;
  border: 1px solid rgb(202, 199, 199);
  margin-top: 20px;
}

.todolist-container-data p {
  margin-left: 20px;
  padding-bottom: 5px;
}

.todolist-container-taskList {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
}

.todolist-container-taskList button {
  height: 20px;
  margin-right: 20px;
  transform: translateY(-3px);
}
